* {
    scroll-behavior: smooth;
}

/* Primera sección */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.contDigital {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
/*  background-image: url('../resources/img/Bg2.png');
    background-size: cover;
    background-attachment: fixed; */
    background: #fff;
	padding-top: 20px;
}

.infoCont {
    padding: 0px 32px;
}

.infoCont h2{
    text-align: center;
    font-size: 22pt;
    font-weight: 900;
    color: #ff6d00;
}

.infoCont p {
    font-size: 12pt;
    font-weight: 300;
    color: black;
    text-align: justify;
}

.orden {
    width: 100%;
    margin-top: 10px;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

.orden ul{
    font-size: 12pt;
    width: 50%;
    font-weight: 300;
    color:black;
    text-align: justify;
}

.video {
    width: 50%;
    margin-top: 16px;
}

.tamaño {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 2px 14px 0px black;
}

/* Segunda sección */

.fabSoftware {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('../resources/img/Bg2.png');
    background-size: cover;
    background-attachment: fixed;
	padding-top: 20px;
}

.infoFab {
    padding: 0px 32px;
    margin-top: 20px;
    height: 100vh;
}

.infoFab h2{
    text-align: center;
    font-size: 22pt;
    font-weight: 900;
   /* color: #ff6d00;*/
   color: #fff;
}

.infoFab p {
    font-size: 12pt;
    font-weight: 300;
    color: #fff;
    text-align: justify;
}

.listaFab {
    width: 100%;
    display: flex; 
    justify-content: space-between;
}

.listaFab li {
    font-size: 12pt;
    width: 100%;
    margin-top: 10px;
    font-weight: 300;
    color:#fff;
    text-align: justify;
}

.videoFab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

.tamañoFab {
    width: 40%;
    height: 40%;
    margin: 0px px;
    border-radius: 8px;
    box-shadow: 0px 2px 14px 0px black;
}

/* Tercera Sección */

.imgLi {
    width: 80%;
    margin: 0px px;
    border-radius: 8px;
    box-shadow: 0px 2px 14px 0px black;
}

/* Estilos Responsive Tablet*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .contDigital {
        display: inline-block;
        margin-top: 45px;
        height: 100vh;
    }

    .infoCont h2, .infoFab h2 {
        font-size: 18pt;
    }

    .infoCont p, .infoFab p {
        font-size: 11pt;
    }
    
    .orden {
        display: inline-block;
    }

    .orden ul {
        font-size: 11pt;
        margin-top: 6px;
        width: 100%;
    }

    .videoFab {
        margin-top: 10px;
    }

    .video, .ordenImg {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .tamaño, .imgLi {
        width: 60%;
    }

    .fabSoftware {
        margin-top: 160px;
    }

    footer {
        margin-top: 300px;
    }


}

/* Estilos Responsive Celular */

@media screen and (min-width: 500px) and (max-width: 768px) {

    .contDigital {
        display: inline-block;
        margin-top: 45px;
        height: 100vh;
    }

    .infoCont h2, .infoFab h2 {
        font-size: 18pt;
    }

    .infoCont p, .infoFab p {
        font-size: 11pt;
    }
    
    .orden {
        display: inline-block;
    }

    .orden ul {
        font-size: 11pt;
        margin-top: 6px;
        width: 100%;
    }

    .video, .ordenImg {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .infoFab {
        height: auto;
    }

    .fabSoftware{
        margin-top: 160px;
        height: 120vh;
    }

    .tamaño, .imgLi {
        width: 80%;
    }

    footer {
        margin-top: 400px;
    }

}