/* Colores: 
NARAJA PURO: #ff6d00
Naranja más claro: #ff994d
Naranja claro: #ff8a33
Naranja oscuro: #994100
Naranja más oscuro: #4c2100
*/

* {
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.containerGen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Nav */

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: #ff6f00a8;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
}

.contIzq {
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.logo {
    width: 40px;
}

.logo img {
    width: 100%;
}

.nombSitio h1 {
    font-size: 16pt;
    margin: 0 12px;
}

.contDer ul {
    display: flex;
    padding: 0 12px;
}

.contDer ul li a {
    display: flex;
    color: #fff;
    padding: 0 8px;
}


/* Sección 1 */

.sec1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../resources/img/Bg6.png');
    background-size: cover;
}

.welcome {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
}

.welcome h2 {
    font-size: 24pt;
    font-weight: 900;
    color: #ff6d00;
}

.info {
    width: 30%;
    font-size: 14pt;
    font-weight: 300;
    color: #fff;
    margin: 12px 0;
    text-align: justify;
}

/* Sección 2 */

.sec2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-image: url('../resources/img/Bg2.png');
    background-size: cover;
    background-attachment: fixed;
}

.contAsesoria {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}

.titulo2 {
    font-size: 24pt;
    color: #fff;
    text-align: center;
}

.contAsesoria p {
    width: 80%;
    color: #fff;
    font-size: 14pt;
    font-weight: 300;
    text-align: center;
}

.contTipoCliente {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.btnCliente {
    width: 20%;
    border-radius: 10px;
    padding: 12px;
    background: #157D80;
    transition: 600ms ease;
}

.btnCliente:hover {
    padding: 20px;
    background: #0e575a;
}

.btnCliente a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    text-align: center;
}


/* Sección 3 */

.sec3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.titulo1 {
    color: #ff6d00;
    font-size: 24pt;
    text-align: center;
}

.contItems {
    display: flex;
    justify-content: space-evenly;
}

.item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

.headItem {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 12px 0;
    border-bottom: solid #ff6d00 2px;
}

.headItem img {
    height: 60%;
}

.headItem h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #4c2100;
    font-size: 18pt;
}

.itemInfo {
    text-align: center;
}


/* Sección 4 */

.sec4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-image: url('../resources/img/Bg2.png');
    background-size: cover;
    background-attachment: fixed;
}

.contentCards {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card {
    width: 40%;
    height: 35vh;
    margin: 12px;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: relative;
}

.cardPreview {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cardPreview img {
    width: 100%;
}

.filtro {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
}

.cardInfo {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 8px 12px;
}

.cardInfo p {
    font-size: 10pt;
}


/* Sección 5 */

.sec5 {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../resources/img/Bg3.png');
    background-size: cover;
}

.contacto {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto p {
    font-size: 16pt;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: 12px 0;
}

.iconos a {
    color: #fff;
    font-size: 24pt;
    margin: 12px;
}

.contForm {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 16px 0;
    background: #fff;
}

.contForm form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contInputs {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 0;
}

.label {
    font-weight: 700;
    color: #4c2100;
}

.contInputs input {
    width: 100%;
    border-radius: 4px;
    padding: 4px 0;
    background: transparent;
    border: 2px solid #ff6d00;
}

.contInputs select {
    width: 100%;
    border-radius: 4px;
    padding: 4px 0;
    background: transparent;
    border: 2px solid #ff6d00;
}

.contInputs textarea {
    width: 100%;
    border-radius: 4px;
    padding: 4px 0;
    background: transparent;
    border: 2px solid #ff6d00;
}

.contBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    min-width: 20%;
    max-width: 50%;
    color: #fff;
    border-radius: 10px;
    font-size: 12pt;
    font-weight: 700;
    padding: 8px;
    margin: 12px 0;
    background: #157D80;
}

/* Footer */

footer {
    background: #2c3e50;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 20px 0;
}


/* Estilos responsive */

@media only screen and (max-width: 900px) {
    /* menú */
    .nav {
        flex-direction: column;
    }
    .contIzq {
        display: none;
    }
    /* Sección 1 */
    .sec1 {
        width: 100%;
        height: auto;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 100px 0 12px 0;
    }
    .welcome h2 {
        font-size: 16pt;
        font-weight: 900;
        color: #ff6d00;
    }
    .info {
        width: 50%;
        font-size: 8pt;
        font-weight: 300;
        color: #fff;
        margin: 0;
        text-align: justify;
    }
    /* Sección 2 */
    .contTipoCliente {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .btnCliente {
        width: 60%;
        min-height: auto;
        border-radius: 10px;
        padding: 12px;
        background: #157D80;
        margin: 12px 0;
    }
    /* Sección 3 */
    .contItems {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item {
        width: 80%;
    }
    .headItem img {
        width: 20%;
    }
    /* Sección 4 */
    .contentCards {
        width: 80%;
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 80%;
    }
    /* Sección 5 */
    .sec5 {
        flex-direction: column;
        align-items: center;
    }
    .contacto {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 12px 0;
    }
    .contForm {
        width: 60%;
        align-items: center;
        justify-content: center;
    }
    .contForm form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}